
.card {
    display: flex;
    width: 100%;
    height: fit-content;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #ebe2d864;
    transition: all ease 0.2s;
    animation: fadeIn 0.5s ease-in;
    cursor: pointer;
    animation: fadeIn 0.2s ease-in;
    padding-top: 28px;
    padding-bottom: 28px;
}

.deleteCardBtn {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 16px;
    top: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.copyCardBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 16px;
    top: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.card:hover {
    background-color: #EBE2D8;
    transition: all ease 0.2s;
    color: #2F2F2F;
}

.card:hover .deleteCardBtn {
    background-image: url(/assets/trash.svg);
    transition: all ease 0.2s;
}

.card:hover .copyCardBtn {
    background-image: url(/assets/copyIcon.svg);
    transition: all ease 0.2s;
}


.card:hover .copyCardBtn:hover {
    background-image: url(/assets/copyIconFocused.svg);
    transition: all ease 0.2s;
}


.card:hover .deleteCardBtn:hover {
    background-image: url(/assets/trashFocus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 0.2s;
}

.card:hover .copyCardBtn:hover {
    opacity: 1;
    scale: 1.2;
    transition: all ease 0.2s;
}

.profilImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.navCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}


.userNameIcon, .userMailIcon, .userDobIcon, .userMapIcon, .userPhoneIcon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    opacity: 0.5;
    transition: all ease 0.2s;
}

.navCardContainer > div:hover {
    opacity: 1;
    transition: all ease 0.2s;
    scale: 1.2;
}

.userNameIcon {
    background-image: url('/assets/userIcon.svg');
}



.userMailIcon {
    background-image: url('/assets/mailIcon.svg');
}

.userDobIcon {
    background-image: url('/assets/dobIcon.svg');
}

.userMapIcon {
    background-image: url('/assets/mapIcon.svg');
}

.userPhoneIcon {
    background-image: url('/assets/phoneIcon.svg');
}

.infosContainer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.infosKey {
    opacity: 0.5;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
}

.infosText {
    font-size: 16px;
    margin: 0px;
    text-align: center;
}

.hide {
    display: none;
}

.display {
    display: block;
}

@media (max-width: 500px) {

    .copyCardBtn {
        background-image: url(/assets/copyIconFocused.svg);
        transition: all ease 0.2s;
    }

    .deleteCardBtn {
        background-image: url(/assets/trashFocus.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease 0.2s;
    }

}