/* pages */


/* components */
@import url('../components/cardsList/style.css');
@import url('../components/card/style.css');
@import url('../components/ui/button/style.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    margin: 0;
    background-color: #FEFDFD;
    font-family: "IBM Plex Sans", sans-serif;
}

h1, p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #2F2F2F;
}