.navBarContainer {
    position: fixed;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    z-index: 3;
    background: rgba(87, 87, 87, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navBarContainer > h1 {
    margin: 0;
}