.cardsListSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto;
    gap: 28px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cardsListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 16px;
    row-gap: 16px;
    width: 100%;
    transition: all ease 0.2s;
}

.paramsListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 16px;
    row-gap: 16px;
}

.paramsList {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 16px;
}

.paramsList > select {
    padding: 8px;
    border-radius: 8px;
}